div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj22688 {
position: absolute;
overflow: hidden;
top: 1px;
left: 0px;
width: 122px;
height: 84px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj22688_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 84px;
}
div#obj22690 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1347px;
width: 77px;
height: 77px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
}
img#obj22690_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 77px;
}

div#obj22686 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1px;
width: 1441px;
height: 54px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 47px;
color: #F47920;
text-align: center;
}

div#obj22686_content {
line-height: 1;
}
div#obj23103 {
position: absolute;
overflow: hidden;
top: 775px;
left: 683px;
width: 716px;
height: 42px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 30px;
}

div#obj23103_content {

}



div#obj22684 {
position: absolute;
overflow: hidden;
top: 890px;
left: 1px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #8AC440;
background-repeat: repeat;
}
#obj23100 {
position: absolute;
overflow: hidden;
top: 133px;
left: 40px;
width: 1360px;
height: 620px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #A2C2AA;
border-color: #4879AD;
border-width: 7px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
}











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
