div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj18744 {
position: absolute;
overflow: hidden;
top: 850px;
left: -270px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18752 {
position: absolute;
overflow: hidden;
top: 329px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18755 {
position: absolute;
overflow: hidden;
top: 511px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18758 {
position: absolute;
overflow: hidden;
top: 174px;
left: -234px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18836 {
position: absolute;
overflow: hidden;
top: 420px;
left: -397px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18839 {
position: absolute;
overflow: hidden;
top: 504px;
left: -397px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18739 {
position: absolute;
overflow: hidden;
top: 1px;
left: 0px;
width: 122px;
height: 84px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj18739_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 84px;
}
div#obj18741 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1347px;
width: 77px;
height: 77px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
}
img#obj18741_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 77px;
}
div#obj19153 {
position: absolute;
overflow: hidden;
top: 263px;
left: 177px;
width: 565px;
height: 173px;
opacity: 1;
z-index: 56;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj19153_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 565px;
	height: 173px;
}
div#obj19245 {
position: absolute;
overflow: hidden;
top: 480px;
left: 360px;
width: 734px;
height: 207px;
opacity: 1;
z-index: 61;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj19245_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 734px;
	height: 207px;
}
div#obj24622 {
position: absolute;
overflow: hidden;
top: 122px;
left: 61px;
width: 21px;
height: 25px;
opacity: 1;
z-index: 63;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj24622_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 21px;
	height: 25px;
}

div#obj18737 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1px;
width: 1441px;
height: 54px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 47px;
color: #F47920;
text-align: center;
}

div#obj18737_content {
line-height: 1;
}
div#obj18750 {
position: absolute;
overflow: hidden;
top: 899px;
left: 552px;
width: 351px;
height: 47px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 36px;
color: #849DAA;
text-align: center;
}

div#obj18750_content {

}
div#obj18770 {
position: absolute;
overflow: hidden;
top: 359px;
left: 833px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18770_content {

}
div#obj18775 {
position: absolute;
overflow: hidden;
top: 359px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18775_content {

}
div#obj18780 {
position: absolute;
overflow: hidden;
top: 359px;
left: 983px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18780_content {

}
div#obj18785 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1061px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18785_content {

}
div#obj18788 {
position: absolute;
overflow: hidden;
top: 268px;
left: 833px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18788_content {

}
div#obj18800 {
position: absolute;
overflow: hidden;
top: 268px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18800_content {

}
div#obj18812 {
position: absolute;
overflow: hidden;
top: 268px;
left: 983px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18812_content {

}
div#obj18824 {
position: absolute;
overflow: hidden;
top: 268px;
left: 1060px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18824_content {

}
div#obj18866 {
position: absolute;
overflow: hidden;
top: 804px;
left: 453px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 31;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18866_content {

}
div#obj18873 {
position: absolute;
overflow: hidden;
top: 804px;
left: 527px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 33;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18873_content {

}
div#obj18878 {
position: absolute;
overflow: hidden;
top: 804px;
left: 603px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 35;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18878_content {

}
div#obj18883 {
position: absolute;
overflow: hidden;
top: 804px;
left: 678px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 38;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18883_content {

}
div#obj18888 {
position: absolute;
overflow: hidden;
top: 804px;
left: 754px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 40;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18888_content {

}
div#obj18899 {
position: absolute;
overflow: hidden;
top: 804px;
left: 831px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 45;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18899_content {

}
div#obj18902 {
position: absolute;
overflow: hidden;
top: 804px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 46;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18902_content {

}
div#obj18905 {
position: absolute;
overflow: hidden;
top: 804px;
left: 984px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 47;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18905_content {

}
div#obj18908 {
position: absolute;
overflow: hidden;
top: 713px;
left: 831px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 48;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18908_content {

}
div#obj18920 {
position: absolute;
overflow: hidden;
top: 713px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 49;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18920_content {

}
div#obj18932 {
position: absolute;
overflow: hidden;
top: 713px;
left: 984px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 50;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18932_content {

}
div#obj18960 {
position: absolute;
overflow: hidden;
top: 713px;
left: 453px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 51;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18960_content {

}
div#obj18972 {
position: absolute;
overflow: hidden;
top: 713px;
left: 527px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 52;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18972_content {

}
div#obj18984 {
position: absolute;
overflow: hidden;
top: 713px;
left: 603px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 53;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18984_content {

}
div#obj19012 {
position: absolute;
overflow: hidden;
top: 713px;
left: 677px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 54;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj19012_content {

}
div#obj19024 {
position: absolute;
overflow: hidden;
top: 713px;
left: 754px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 55;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj19024_content {

}
div#obj19167 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1136px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 57;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj19167_content {

}
div#obj19155 {
position: absolute;
overflow: hidden;
top: 268px;
left: 1135px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 58;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj19155_content {

}
div#obj19184 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1211px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 59;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj19184_content {

}
div#obj19172 {
position: absolute;
overflow: hidden;
top: 268px;
left: 1210px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 60;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj19172_content {

}
div#obj24624 {
position: absolute;
overflow: hidden;
top: 114px;
left: 97px;
width: 1251px;
height: 87px;
opacity: 1;
z-index: 62;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 34px;
text-align: left;
}

div#obj24624_content {

}



div#obj18735 {
position: absolute;
overflow: hidden;
top: 890px;
left: 1px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #8AC440;
background-repeat: repeat;
}
div#obj18748 {
position: absolute;
overflow: hidden;
top: 899px;
left: 559px;
width: 344px;
height: 46px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18764 {
position: absolute;
overflow: hidden;
top: 289px;
left: 798px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #F58220;
background-repeat: repeat;
}
div#obj18766 {
position: absolute;
overflow: hidden;
top: 380px;
left: 798px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #5A78AA;
background-repeat: repeat;
}
div#obj18768 {
position: absolute;
overflow: hidden;
top: 359px;
left: 833px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18773 {
position: absolute;
overflow: hidden;
top: 359px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18778 {
position: absolute;
overflow: hidden;
top: 359px;
left: 983px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18783 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1061px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj19170 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1136px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj19187 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1211px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18844 {
position: absolute;
overflow: hidden;
top: 734px;
left: 418px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #F58220;
background-repeat: repeat;
}
div#obj18846 {
position: absolute;
overflow: hidden;
top: 825px;
left: 418px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #5A78AA;
background-repeat: repeat;
}
div#obj18862 {
position: absolute;
overflow: hidden;
top: 804px;
left: 453px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18869 {
position: absolute;
overflow: hidden;
top: 804px;
left: 527px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18876 {
position: absolute;
overflow: hidden;
top: 804px;
left: 603px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18881 {
position: absolute;
overflow: hidden;
top: 804px;
left: 678px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18864 {
position: absolute;
overflow: hidden;
top: 804px;
left: 678px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 37;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18886 {
position: absolute;
overflow: hidden;
top: 804px;
left: 754px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 39;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18891 {
position: absolute;
overflow: hidden;
top: 804px;
left: 831px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 41;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18893 {
position: absolute;
overflow: hidden;
top: 804px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 42;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18895 {
position: absolute;
overflow: hidden;
top: 804px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 43;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18897 {
position: absolute;
overflow: hidden;
top: 804px;
left: 984px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 44;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
