div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj23110 {
position: absolute;
overflow: hidden;
top: 1px;
left: 0px;
width: 122px;
height: 84px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj23110_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 84px;
}
div#obj23112 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1347px;
width: 77px;
height: 77px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
}
img#obj23112_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 77px;
}
div#obj23153 {
position: absolute;
overflow: hidden;
top: 114px;
left: 1353px;
width: 66px;
height: 67px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj23153_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	height: 67px;
}
div#obj23159 {
position: absolute;
overflow: hidden;
top: 134px;
left: 60px;
width: 21px;
height: 25px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj23159_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 21px;
	height: 25px;
}
div#obj23168 {
position: absolute;
overflow: hidden;
top: 255px;
left: 30px;
width: 244px;
height: 182px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj23168_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 244px;
	height: 182px;
}
div#obj23175 {
position: absolute;
overflow: hidden;
top: 216px;
left: 449px;
width: 541px;
height: 241px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj23175_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 541px;
	height: 241px;
}
div#obj23179 {
position: absolute;
overflow: hidden;
top: 553px;
left: 200px;
width: 466px;
height: 230px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj23179_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 466px;
	height: 230px;
}
div#obj23186 {
position: absolute;
overflow: hidden;
top: 553px;
left: 798px;
width: 472px;
height: 230px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj23186_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 472px;
	height: 230px;
}

div#obj23108 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1px;
width: 1441px;
height: 54px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 47px;
color: #F47920;
text-align: center;
}

div#obj23108_content {
line-height: 1;
}
div#obj23161 {
position: absolute;
overflow: hidden;
top: 126px;
left: 95px;
width: 1217px;
height: 50px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 34px;
}

div#obj23161_content {

}
div#obj23173 {
position: absolute;
overflow: hidden;
top: 483px;
left: 447px;
width: 548px;
height: 56px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 34px;
color: #FFFFFF;
text-align: center;
}

div#obj23173_content {

}
div#obj23182 {
position: absolute;
overflow: hidden;
top: 805px;
left: 160px;
width: 548px;
height: 56px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 34px;
color: #FFFFFF;
text-align: center;
}

div#obj23182_content {

}
div#obj23189 {
position: absolute;
overflow: hidden;
top: 805px;
left: 760px;
width: 548px;
height: 56px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 34px;
color: #FFFFFF;
text-align: center;
}

div#obj23189_content {

}
div#obj23143 {
position: absolute;
overflow: hidden;
top: 177px;
left: 570px;
width: 764px;
height: 121px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 34px;
text-align: center;
}

div#obj23143_content {

}



div#obj23106 {
position: absolute;
overflow: hidden;
top: 890px;
left: 1px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #8AC440;
background-repeat: repeat;
}
div#obj23147 {
position: absolute;
overflow: hidden;
top: 113px;
left: 1353px;
width: 66px;
height: 67px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj23163 {
position: absolute;
overflow: hidden;
top: 190px;
left: 1px;
width: 1439px;
height: 701px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #5A78AA;
background-repeat: repeat;
}
div#obj23171 {
position: absolute;
overflow: hidden;
top: 255px;
left: 475px;
width: 490px;
height: 215px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #F47920;
background-repeat: repeat;
}
div#obj23184 {
position: absolute;
overflow: hidden;
top: 577px;
left: 188px;
width: 490px;
height: 215px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #F47920;
background-repeat: repeat;
}
div#obj23191 {
position: absolute;
overflow: hidden;
top: 577px;
left: 788px;
width: 490px;
height: 215px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #F47920;
background-repeat: repeat;
}
div#obj23145 {
position: absolute;
overflow: hidden;
top: 177px;
left: 570px;
width: 764px;
height: 120px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.6078431));
background-image: none;
border-color: #F47920;
border-width: 5px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: #FFFFFF;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
