div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj17953 {
position: absolute;
overflow: hidden;
top: 850px;
left: -270px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj17961 {
position: absolute;
overflow: hidden;
top: 329px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj17967 {
position: absolute;
overflow: hidden;
top: 511px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj17970 {
position: absolute;
overflow: hidden;
top: 174px;
left: -234px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18067 {
position: absolute;
overflow: hidden;
top: 420px;
left: -397px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18070 {
position: absolute;
overflow: hidden;
top: 504px;
left: -397px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj17948 {
position: absolute;
overflow: hidden;
top: 1px;
left: 0px;
width: 122px;
height: 84px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17948_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 84px;
}
div#obj17950 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1347px;
width: 77px;
height: 77px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
}
img#obj17950_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 77px;
}
div#obj18358 {
position: absolute;
overflow: hidden;
top: 249px;
left: 334px;
width: 328px;
height: 188px;
opacity: 1;
z-index: 54;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj18358_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328px;
	height: 188px;
}
div#obj18361 {
position: absolute;
overflow: hidden;
top: 511px;
left: 330px;
width: 783px;
height: 156px;
opacity: 1;
z-index: 55;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj18361_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 783px;
	height: 156px;
}
div#obj24620 {
position: absolute;
overflow: hidden;
top: 122px;
left: 61px;
width: 21px;
height: 25px;
opacity: 1;
z-index: 75;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj24620_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 21px;
	height: 25px;
}

div#obj17946 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1px;
width: 1441px;
height: 54px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 47px;
color: #F47920;
text-align: center;
}

div#obj17946_content {
line-height: 1;
}
div#obj17959 {
position: absolute;
overflow: hidden;
top: 899px;
left: 552px;
width: 351px;
height: 47px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 36px;
color: #849DAA;
text-align: center;
}

div#obj17959_content {

}
div#obj17984 {
position: absolute;
overflow: hidden;
top: 359px;
left: 833px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj17984_content {

}
div#obj17989 {
position: absolute;
overflow: hidden;
top: 359px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj17989_content {

}
div#obj17994 {
position: absolute;
overflow: hidden;
top: 359px;
left: 983px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj17994_content {

}
div#obj17999 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1061px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj17999_content {

}
div#obj18007 {
position: absolute;
overflow: hidden;
top: 268px;
left: 833px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18007_content {

}
div#obj18019 {
position: absolute;
overflow: hidden;
top: 268px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18019_content {

}
div#obj18031 {
position: absolute;
overflow: hidden;
top: 268px;
left: 983px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18031_content {

}
div#obj18043 {
position: absolute;
overflow: hidden;
top: 268px;
left: 1060px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18043_content {

}
div#obj18194 {
position: absolute;
overflow: hidden;
top: 793px;
left: 251px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 37;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18194_content {

}
div#obj18199 {
position: absolute;
overflow: hidden;
top: 793px;
left: 325px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 40;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18199_content {

}
div#obj18204 {
position: absolute;
overflow: hidden;
top: 793px;
left: 401px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 42;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18204_content {

}
div#obj18209 {
position: absolute;
overflow: hidden;
top: 793px;
left: 476px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 44;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18209_content {

}
div#obj18214 {
position: absolute;
overflow: hidden;
top: 793px;
left: 552px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 46;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18214_content {

}
div#obj18223 {
position: absolute;
overflow: hidden;
top: 793px;
left: 629px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 51;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18223_content {

}
div#obj18226 {
position: absolute;
overflow: hidden;
top: 793px;
left: 705px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 52;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18226_content {

}
div#obj18229 {
position: absolute;
overflow: hidden;
top: 793px;
left: 782px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 53;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18229_content {

}
div#obj18458 {
position: absolute;
overflow: hidden;
top: 793px;
left: 863px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 56;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18458_content {

}
div#obj18453 {
position: absolute;
overflow: hidden;
top: 793px;
left: 939px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 57;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18453_content {

}
div#obj18444 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1016px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 58;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18444_content {

}
div#obj18441 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1092px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 59;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18441_content {

}
div#obj18438 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1169px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 60;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #5A78AA;
text-align: center;
}

div#obj18438_content {

}
div#obj18232 {
position: absolute;
overflow: hidden;
top: 702px;
left: 629px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 61;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18232_content {

}
div#obj18249 {
position: absolute;
overflow: hidden;
top: 702px;
left: 705px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 62;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18249_content {

}
div#obj18266 {
position: absolute;
overflow: hidden;
top: 702px;
left: 782px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 63;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18266_content {

}
div#obj18283 {
position: absolute;
overflow: hidden;
top: 702px;
left: 251px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 64;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18283_content {

}
div#obj18295 {
position: absolute;
overflow: hidden;
top: 702px;
left: 325px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 65;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18295_content {

}
div#obj18307 {
position: absolute;
overflow: hidden;
top: 702px;
left: 401px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 66;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18307_content {

}
div#obj18324 {
position: absolute;
overflow: hidden;
top: 702px;
left: 475px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 67;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18324_content {

}
div#obj18336 {
position: absolute;
overflow: hidden;
top: 702px;
left: 552px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 68;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18336_content {

}
div#obj18421 {
position: absolute;
overflow: hidden;
top: 702px;
left: 1016px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 69;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18421_content {

}
div#obj18404 {
position: absolute;
overflow: hidden;
top: 702px;
left: 1092px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 70;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18404_content {

}
div#obj18387 {
position: absolute;
overflow: hidden;
top: 702px;
left: 1169px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 71;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18387_content {

}
div#obj18375 {
position: absolute;
overflow: hidden;
top: 702px;
left: 862px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 72;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18375_content {

}
div#obj18363 {
position: absolute;
overflow: hidden;
top: 702px;
left: 939px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 73;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
font-family: "Roboto-Bold";
font-size: 45px;
color: #F58220;
text-align: center;
}

div#obj18363_content {

}
div#obj18480 {
position: absolute;
overflow: hidden;
top: 114px;
left: 97px;
width: 1251px;
height: 87px;
opacity: 1;
z-index: 74;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 34px;
text-align: left;
}

div#obj18480_content {

}



div#obj17944 {
position: absolute;
overflow: hidden;
top: 890px;
left: 1px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #8AC440;
background-repeat: repeat;
}
div#obj17957 {
position: absolute;
overflow: hidden;
top: 899px;
left: 559px;
width: 344px;
height: 46px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj17978 {
position: absolute;
overflow: hidden;
top: 289px;
left: 798px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #F58220;
background-repeat: repeat;
}
div#obj17980 {
position: absolute;
overflow: hidden;
top: 380px;
left: 798px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #5A78AA;
background-repeat: repeat;
}
div#obj17982 {
position: absolute;
overflow: hidden;
top: 359px;
left: 833px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj17987 {
position: absolute;
overflow: hidden;
top: 359px;
left: 907px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj17992 {
position: absolute;
overflow: hidden;
top: 359px;
left: 983px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj17997 {
position: absolute;
overflow: hidden;
top: 359px;
left: 1061px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18188 {
position: absolute;
overflow: hidden;
top: 723px;
left: 216px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #F58220;
background-repeat: repeat;
}
div#obj18190 {
position: absolute;
overflow: hidden;
top: 814px;
left: 216px;
width: 16px;
height: 16px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #5A78AA;
background-repeat: repeat;
}
div#obj18461 {
position: absolute;
overflow: hidden;
top: 793px;
left: 863px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18456 {
position: absolute;
overflow: hidden;
top: 793px;
left: 939px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18451 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1016px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18636 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1016px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18449 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1092px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18644 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1092px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18447 {
position: absolute;
overflow: hidden;
top: 793px;
left: 1169px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18192 {
position: absolute;
overflow: hidden;
top: 793px;
left: 251px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18628 {
position: absolute;
overflow: hidden;
top: 793px;
left: 251px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18197 {
position: absolute;
overflow: hidden;
top: 793px;
left: 325px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 38;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18652 {
position: absolute;
overflow: hidden;
top: 793px;
left: 325px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 39;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18202 {
position: absolute;
overflow: hidden;
top: 793px;
left: 401px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 41;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18207 {
position: absolute;
overflow: hidden;
top: 793px;
left: 476px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 43;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18212 {
position: absolute;
overflow: hidden;
top: 793px;
left: 552px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 45;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18217 {
position: absolute;
overflow: hidden;
top: 793px;
left: 629px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 47;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18219 {
position: absolute;
overflow: hidden;
top: 793px;
left: 705px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 48;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18658 {
position: absolute;
overflow: hidden;
top: 793px;
left: 705px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 49;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18221 {
position: absolute;
overflow: hidden;
top: 793px;
left: 782px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 50;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 13px;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
background-color: #FFFFFF;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
